<div id="comment-{{comment.id}}" class="comment comment-{{comment.role_key|default('designer')}} {{'comment-reply' if comment.parent_id else ''}}" data-comment-request-id="{{comment.client_request_id|default('', true)}}" data-comment-role="{{comment.role_key|default('designer')}}" x-show="commentFilter === 'all' || commentFilter === '{{comment.role_key|default('designer')}}'">
  <span class="thread-dot dot-{{comment.role_key|default('designer')}}" aria-hidden="true"></span>
  <span class="avatar small role-avatar-{{comment.role_key|default('designer')}}">{{comment.initials}}</span>
  <div class="comment-bubble flex-1">
    <div class="comment-meta"><b>{{comment.author}}</b><span class="role-pill role-{{comment.role_key|default('designer')}}">{{comment.role|default('Designer')}}</span><span class="comment-time">{{comment.time}}</span></div>
    <p class="comment-copy">{{comment.text}}</p>
    <div class="feedback-actions"><button type="button" @click="replyTo='{{comment.id}}';replyName='{{comment.author|e}}'">↩ Reply</button><span class="comment-signal" aria-hidden="true">{{'●' if comment.role_key == 'client' else '◆'}}</span></div>
  </div>
</div>
